.quiz {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 3rem 2rem;
  background-color: white;
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 35rem;
  margin: 3rem 0;
}

.option {
  padding: 0.75rem;
  background-color: #0ea5e9;
  border-radius: 2rem;
  color: white;
  text-align: center;
}

.option:hover {
  cursor: pointer;
  background-color: hsl(199, 89%, 46%);
}

.action {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.action button {
  border-radius: 0.2rem;
  color: white;
}

.quit {
  background-color: #dc2626;
}

.quit:hover {
  background-color: hsl(0, 72%, 47%);
}

.prev {
  background-color: #2563eb;
}

.prev:hover {
  background-color: hsl(221, 83%, 49%);
}

.next {
  background-color: hsl(119, 94%, 36%);
}

.next:hover {
  background-color: hsl(119, 94%, 33%);
}

.finish {
  background-color: #eeeeee;
  color: #000000;
  border-radius: 0.2rem;
}

.finish:hover {
  background-color: hsl(0, 0%, 89%);
}
